/* нужно везде начало */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.d-none{
	display: none !important;
}

.d-block{
	display: block;
}

.d-flex,
.text-img-row .center-wrap,
.align-cm {
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: flex !important;
}

.align-cm{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.f-col{
	flex-direction: column !important;
}

.is-processing{
  opacity: 0.7;
  cursor: progress;
}

.img-wrap-1{
  position: relative;
  width: 190px;
}

.img-wrap-1 > .img-wrap-2{
  padding-bottom: 75%;
}

.img-wrap-1 > .img-wrap-2  img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
  left: 0;
}

.of-c img{
  object-fit: cover !important;
}

a {
	text-decoration: none;
}

li{
  list-style: none;
}
/* нужно везде конец */

@font-face {
	font-family: "Open Sans Bold"; 
	src: url("../fonts/Open_Sans_Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: bold; 
} 

@font-face {
	font-family: "OpenSans-Regular"; 
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: bold; 
} 


@font-face {
	font-family: "Gotham-Bold"; 
	src: url("../fonts/Gotham-Bold.otf") format("truetype"); 
	font-style: normal; 
	font-weight: bold; 
} 

@font-face {
	font-family: "Gotham-Medium"; 
	src: url("../fonts/Gotham-Medium.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 

@font-face {
	font-family: "Gotham-Book"; 
	src: url("../fonts/Gotham-Book.otf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 

@font-face {
	font-family: "Roboto-Bold-Condensed"; 
	src: url("../fonts/Roboto-Bold-Condensed.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: bold; 
} 

.ff-osdb{
	font-family: "Open Sans Bold"; 
}

.center-wrap{
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	position: relative;
	margin: auto;
}

.top-header__rect-main{
	position: relative;
}

.top-header__rect-bg{
	background-color: #c4c4c4;
	position: absolute;
	left: 15px;
	top: 10px;
}

.top-header__text {
	background-color: rgb(17, 116, 158);
	z-index: 2;
  position: inherit;
}

.top-header__text,
.top-header__rect-bg {
	height: 67px;
	width: 67px;
}

.main-screen{
  background-image: url(../img/bg-mains-screen.png);
  padding-top: 20px;
  background-repeat: no-repeat;
  max-height: 100vh;
  background-position: center;
  background-size: cover;
}

.top-header__link{
	color: #fff;
	position: relative;
	margin-right: 55px;
}

.top-header__link-active::after {
  content: "";
  height: 10px;
  width: 100%;
  display: inline-block;
  background-color: #11749e;
  position: absolute;
  top: 49px;
  left: 0;
}

.top-header__nav{
	width: fit-content;
}

.top-header__right{
  display: flex;
  margin-left: auto;
}

.top-header__social-item{
	margin: 0 10px;
}

.top-header{
	border-bottom: 1px solid #7f7f7d;
}

.top-header__left{
	margin-bottom: 30px;
}

.ms-content{
	/*padding-top: 15%;*/
}

.ms-content__main-title h1{
	margin: 0;
  font-size: 152.54px;
  color: #f5f5f5;
  text-transform: uppercase;
  font-family: "Gotham-Bold";
  letter-spacing: -6.5px;
  padding-right: 10px;
}

.ms-content__sub-title h2{
  color: #11749e;
  font-family: "Gotham-Medium";
  font-size: 24.8px;
  line-height: 51.2px;
  letter-spacing: 18px;
  padding-left: 10px;
  padding-bottom: 100px;
}

.ms-content-more__text{
	color: #ffffff;
	font-family: "OpenSans-Regular"; 
	font-size: 13px;
	padding-bottom: 25px;
}

.ms-content-more{
	flex-direction: column;
  bottom: 50px;
  margin-bottom: 104px;
}

.white-space_274px{
	height: 119px;
}

.ms-content-more__btn {
  width: 65px;
  height: 65px;
  display: flex;
  border: 1px solid;
  color: #f5f5f5;
  border-radius: 50%;
  position: relative;
}

.ms-content-more__btn::after {
    content: "";
    width: 17px;
    height: 3px;
    background-color: #f5f5f5;
    position: absolute;
    top: 50%;
    transform: rotate(37deg);
    left: calc(50% - 15px);
}

.ms-content-more__btn::before {
		content: "";
    width: 18px;
    height: 3px;
    background-color: #f5f5f5;
    position: absolute;
    top: 50%;
    transform: rotate(137deg);
    left: calc(50% - 3px);
}

h2{
	font-size: 37.6px;
	line-height: 45px;
	font-family: "Gotham-Medium";
	text-transform: uppercase;
	font-weight: 100;
}

h3{
	font-family: "Gotham-Medium";
	font-size: 18px;
	line-height: 36px;
}

p{
	font-family: "Gotham-Book";
	font-size: 15px;
	line-height: 24px;
}

.section_feature{
	background-color: #11749e;
	padding-top: 100px;
}

.section-title{
	font-family: "Gotham-Medium"; 
  text-transform: uppercase;
	height: 230px;
}

.section-title__text{
	position: absolute;
	z-index: 2;
	color: #fff;
}

.section-title__single-letter{
	font-family: "Roboto-Bold-Condensed";
	font-size: 247px;
	line-height: 210px;
	z-index: 1;
  left: 50%;
  transform: translatex(-50%);
  position: absolute;
}

.section-title_blue{
	color: #5993b2;
}

.feature__wrap{
	max-width: 540px;
	width: 100%;
	color: #fff;
}

.feature__text,
.feature__title,
.feature__img{
	text-align: center;
}

.feature__img{
	margin: auto;
	margin-bottom: 24px;
	height: 135px;
	width: 140px;
	border-radius: 50%;
	background-color: #2e85aa;
}

.feature__text{
	margin-bottom: 35px;
}

.features{
	padding-bottom: 130px;
}

.text-block,
.img-block{
	max-height: 450px;
	height: 100%;
}

.text-block{
	padding: 85px 85px 85px 210px;
	color: white;
	width: 100%
}

.img-block{
	width: 50%;
	height: auto;
}

.text-block__date{
	padding-bottom: 20px;
}

.text-block__title{
	font-family: "Gotham-Medium";
	font-size: 25px;
	line-height: 36px;
	text-transform: uppercase;
}

.text-img-row{
	background-color: #222222;
	max-height: 450px;
}

.text-img-row:nth-child(2n){
	background-color: #f3f3f3;
}

.text-img-row .center-wrap {
	padding: 0;
	width: 50%;
}

.text-img-row:nth-child(2n)  {
	flex-direction: row-reverse;
}


.text-img-row:nth-child(2n) .text-block,
.text-img-row:nth-child(2n) .text-block__title,
.text-img-row:nth-child(2n) .text-block__text,
.text-img-row:nth-child(2n) .text-block__date,
.text-img-row:nth-child(2n) .text-block{
	color: #222222;
	background-color: #f3f3f3;
}

.section-title_grey{
	color: #d7d7d7;
}

.section-title_grey .section-title__text{
	color: #222222;
}

.section-desc{
	line-height: 36px;
  color: #222222;
  font-size: 30;
  margin-bottom: 80px;
}

.blog-wrap{
	margin-top: -9%;
}

.blog__title{
	font-size: 18px;
	line-height: 36px;
	color: #11749e;
	margin-top: -38%;
	margin-bottom: 26px;
	text-transform: uppercase;
}

.blog__item{
	max-width: 270px;
	width: 100%;
	margin: 0 15px;
}

.blog__item .img-wrap-1{
	width: 270px;
	margin-bottom: 45px;
}

.blog__item .img-wrap-2{
	margin-bottom: 90%;
}

.blog__text {
	min-width: 270px;
}

.section_lets-blog{
	padding-bottom: 110px;
}

/* blue block */

.section-blue-text{
	background-color: #11749e;
	color: white;
	padding-top: 150px;
	padding-bottom: 160px;
}

.bb-single{
	margin-right: 53px;
}

.bb-single__icon{
	margin-right: 30px;
}

/*about work section*/

.section-about-work{
	background-image: url(../img/aw-bg_2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-position: cover;
	color: #ffffff;
	padding: 70px 0;
}

.section-about-work .center-wrap{
  justify-content: center;
  align-items: center;
}

.aw-content{
	/*padding: 230px 100px 0 25px;*/
}

.aw-content__content{
	max-width: 473px;
	margin-bottom: 68px;
}

.aw-content__title{
	margin-bottom: 42px;
}

.item_blue-bg{
	line-height: 38px;
	background-color: #11749e;
	padding-left: 20px;
	margin-bottom: 24px;
	max-width: 429px;
}

li.item_blue-bg:nth-child(1){
	max-width: 370px;
}

li.item_blue-bg:nth-child(2){
	max-width: 400px;
}

.aw-img .img-wrap-1 {
  position: relative;
  width: 341px;
}

.aw-img .img-wrap-2 {
	padding-bottom: 167%;
}

.aw-content,
.aw-img{
	margin: auto;
}

/*section - team*/
.section-aour-team{
	padding-bottom: 75px;
}

.team-wrap{
	justify-content: space-between;
}

.team-member .img-wrap-1{
	width: 274px;
	position: relative;
}

.team-member .img-wrap-2{
	padding-bottom: 150%;
}

.team-member__fio{
  font-size: 20px;
  color: #11749e;
  position: absolute;
  bottom: 39px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  padding: 24px 45px 10px 45px;
  white-space: nowrap;
	font-family: "Gotham-Medium";
	text-transform: uppercase;
}

.team-member__position{
	font-family: "Gotham-Medium";
	font-size: 15px;
	line-height: 24px;
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
}

.section-desc{
	font-size: 30.06px;
	line-height: 37px;
	font-family: "Gotham-Book"; 
	color: #222222;
}

/*section contacts*/

.section-contacts{
	padding-bottom: 100px;
	background-image: url(../img/contacts-bg.jpg);
}

.section-title__single-letter_opacity{
	opacity: 0.23;
}

.section-title__text_white{
	color: #fff !important;
}

button, input, optgroup, select, textarea {
  background: inherit;
  border: 1px solid white;
  padding-left: 20px;
}

input{
	width: 370px;
	line-height: 45px;
	height: 45px;
	font-size: 15px;
	color: #fff;
}

div textarea{
	margin-top: 40px;
	width: 100%;
	padding: 7px;
	color: #fff;
}

.form__top-blocks{
	justify-content: space-between;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

.btn{
  text-transform: uppercase;
  background-color: #11749e;
  border: 0;
  width: 230px;
  height: 65px;
  cursor: pointer;

}

.form__submit{
  margin-top: 48px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}